
	
	.user {color: #333;}
	.loggedin .user {color: #333;}

	#header-bottom-right a {
		color: #333;
		font-weight: normal;
		font-size: 15px;
		z-index:97;
	}

	#header-bottom-right a:hover {
		border-bottom: 1px solid #FF8E8D;
		color: #111;
		text-decoration: none;
	}

	#mail {
		overflow: visible;
		width: 16px;
		height: 16px;
		background-image: url(%%spritesheet%%) !important;
	}

	#mail:hover, #modmail:hover {
		border-bottom: 0px solid !important;
	}

	#mail.nohavemail {background-position: -64px 0px;}
	#mail.havemail   {background-position:-80px 0px;}

	#mail.havemail:before, #modmail.havemail:before  {
		display: block;
		visibility: visible !important;
		position: fixed;
		top: 4px;
		right: 10px;
		z-index: 2;
		z-index: 0;
		width: 25px;
		height: 25px;
		background-color: #fff;
		background-image: url(%%spritesheet%%);
		background-position: -126px -50px;
		border-radius: 50%;
		content: " ";
	}

	#modmail {
		top: -2px;
		margin-bottom: -6px;
		width: 16px;
		height: 16px;
		background-image: url(%%spritesheet%%) !important;
	}

	#modmail.havemail   {background-position:-112px 0px;}
	#modmail.nohavemail {background-position:-96px 0px;}
	#modmail.havemail:before {background-position: -151px -50px; margin-right: 40px;}

	#header-bottom-right a.pref-lang, .loggedin .logout a{
		background-position: -96px -49px;
		background-image: url(%%spritesheet%%);
		width: 16px;
		height: 16px;
		display: inline-block;
		text-indent: -9999px;
		margin: 0px;
		position: relative;
		top: -1px;
	}

	#modmail, #mail, .gearIcon, #header-bottom-right a.pref-lang {
		opacity: 0.75;
	}

	#modmail:hover, #mail:hover, #header-bottom-right a.pref-lang:hover, .gearIcon:hover {
		opacity: 1;
		text-decoration: none !important;
		border-bottom: 0px solid !important;
	}
	
	.loggedin .logout a {background-position: -80px -49px;}

	.gearIcon {
		background-image: url(%%spritesheet%%)!important;
		background-position: -80px -65px!important;
		height: 16px!important;
		width: 16px!important;
	}
	
	
	
/* Res Live Preview */
	.RESDialogSmall {
		border: 1px solid #DFDFDF!important;
		border-radius: 0px!important;
	}

	.RESDialogSmall > h3 {
		background-color: #f4f4f4!important;
		border-bottom: 1px solid #DFDFDF!important;
		border-radius: 0px!important;
		color: #333!important;
	}

	.res .comment {
		margin-top:0px !important;
		margin-bottom: 3px !important;
		border: 1px solid #f8f8f8 !important;
	}

/* RES Shortcut */
	.RESshortcutside, .RESDashboardToggle {
		background-image:none!important;
		background-color: #CE1126!important;
		border-top: 2px solid #CE1126!important;
		border-bottom: 2px solid #CE1126!important;
		border-radius: 0px!important;
		-webkit-box-shadow: 0 1px 0 #e2e0e0!important;
		box-shadow: 0 1px 0 #e2e0e0!important;	
		font-family: arial,sans-serif!important;
		font-size: 12px!important;				
	}

	.RESshortcutside:hover, .RESDashboardToggle:hover {
		background-color: #ED1C24!important;
		border-top: 2px solid #ED1C24!important;
		border-bottom: 2px solid #ED1C24!important;
		border-radius: 0px!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
		text-decoration: none!important;
	}

	.RESshortcutside:active, .RESDashboardToggle:active {
		background-color: #960011!important;
		border-top: 2px solid #960011!important;
		border-bottom: 2px solid #960011!important;
		border-radius: 0px!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
	}

	.RESshortcutside.remove, .RESDashboardToggle.remove {
		background-image:none!important;
		background-color: #960011!important;
		border-top: 2px solid #960011!important;
		border-bottom: 2px solid #960011!important;
		border-radius: 0px!important;
		-webkit-box-shadow: 0 1px 0 #e2e0e0!important;
		box-shadow: 0 1px 0 #e2e0e0!important;		
	}

	.RESshortcutside.remove:hover, .RESDashboardToggle.remove:hover {
		background-color: #ED1C24!important;
		border-top: 2px solid #ED1C24!important;
		border-bottom: 2px solid #ED1C24!important;
		border-radius: 0px!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
		text-decoration: none!important;
	}

	.RESshortcutside.remove:active, .RESDashboardToggle.remove:active {
		background-color: #CE1126!important;
		border-top: 2px solid #CE1126!important;
		border-bottom: 2px solid #CE1126!important;
		border-radius: 0px!important;
		-webkit-box-shadow: none!important;
		box-shadow: none!important;
	}

	#RESShortcutsEditContainer {
		top: 1px !important;
		background-color: #2d2d2d !important;
	}

	#RESShortcutsRight,#RESShortcutsLeft,#RESShortcutsAdd,#RESShortcutsTrash {
		background-color: #2d2d2d !important;
		color: #979797 !important;
	}

	#srLeftContainer, #RESShortcutsViewport, #RESShortcutsEditContainer {
		border-left: 1px solid #666;
		padding-left: 10px;
	}

	.res #RESShortcutsSort {width: 30px !important;background-color: transparent !important;color:#B1B1B1 !important; }
	
	.markdownEditor {white-space: inherit !important;}


	#progressIndicator, #NERFail, .NERPageMarker {
		margin-right: 320px !important;
		width: inherit !important;
		background-color: white !important;
		border: 1px solid #d8d8d8 !important;
		border-top: 0px solid !important;
		border-bottom: 3px solid #d8d8d8 !important;
		border-radius: 2px !important;
	}

	.res #NREFloat {
		top: 8px;
		z-index: 100;
	}

	.res .fancy-toggle-button .add:after {
		right: 50px !important;
	}

	.RESSubscriptionButton {
		background-color: #ED1C24 !important;
		border: 0px solid !important;
		border-radius: 0px !important;
		color: #FFF !important;
	}

	.res #header-bottom-right {
		right: 10px;
		top: 168px !important;
		padding: 4px 10px 5px 2px !important;
		border-radius: 0px !important;
	}

	.res #userbarToggle {display: none !important;}

	#RESAccountSwitcherIcon {margin-top: -5px;}

	.res .author.submitter {
		padding: 2px 5px !important;
		background-color: #DD4B39!important;
		border-radius: 0px !important;
		color: #fff !important;
	}

	.res .author.submitter:hover {background-color: #ed5f4d !important;}

	.res .author.moderator {
		padding: 2px 5px !important;
		background-color: #53a93f !important;
		border-radius: 0px !important;
		color: #fff !important;
	}

	.res .author.moderator:hover {
		background-color: #64be4f !important;
		color: #fff !important;
	}

	.res .blueButton {
		padding: 2px 3px !important;
		background-color: #53a93f !important;
		border: none !important;
		border-radius: 0px !important;
	}
	
/* RES Page Indicator */
	.NERPageMarker {
		margin: 0px 15px;
		padding: 5px 0px;
		border: 0px!important;
		border-radius: 0px!important;
		box-shadow: 0px 1px 3px #ccc;
	}

/*  NIGHTMODE - Work in progress */
	body:lang(nm), #search input[type=text]:lang(nm), .res-nightmode body  		{background-color: #222;}
	.comments-page textarea:lang(nm), textarea:lang(nm) 						{background-color: #222 !important;}

	.link:lang(nm), .side:lang(nm), .submit-page .infobar:lang(nm), .roundfield:lang(nm), .submit-page .content button:lang(nm),
	content.submit .info-notice:lang(nm), .stylesheet-customize-container .pretty-form:lang(nm), #iíages:lang(nm), 
	.search-page .raisedbox:lang(nm), .search-page .searchfacets:lang(nm), .linefield:lang(nm), 
	.search-page .searchpane:lang(nm), .nextprev:lang(nm), .commentarea:lang(nm), .link.last-clicked:lang(nm),
	res-nightmode .side, .res-nightmode .flairselector, .res-nightmode .linefield, .res-nightmode .icon-menu a, 
	.res-nightmode .side .leavemoderator, .res-nightmode .side .leavecontributor-button, .res-nightmode .side .titlebox, 
	.res-nightmode .side .spacer .titlebox .redditname, .res-nightmode .side .titlebox .flairtoggle, 
	.res-nightmode .side .usertext-body .md ol, .res-nightmode .side .usertext-body .md ol ol, 
	.res-nightmode .side .usertext-body .md ol ol li, .res-nightmode .side blockquote, .res-nightmode .modactionlisting table *,
	.res-nightmode .link, .res-nightmode .listing-page .sitetable > div:nth-of-type(4n+1), .res-nightmode .messages-page .sitetable > div:nth-of-type(4n+1),
	.res-nightmode .organic-listing .thing, .res-nightmode .sr-interest-bar, .res-nightmode .commentarea,
	.res-nightmode .side .titlebox form.flairtoggle, .res-nightmode .trophy-area .content, .res-nightmode .NERPageMarker, 
	.res-nightmode .side .titlebox .usertext-body ol, .res-nightmode .side .titlebox .usertext-body ol, 
	.res-nightmode .side .titlebox .usertext-body ul  {
		background-color: #2b303b;
		/*border-bottom-color: #17191A !important;*/
	}

	#header:lang(nm):after, #header-bottom-right:lang(nm), .titlebox h6:lang(nm), .res-nightmode #header:after,
	.res-nightmode .tabmenu li a, .res-nightmode .login-form, .res-nightmode .login-form input[name*="passwd"], 
	.res-nightmode .login-form-side .submit, .res-nightmode #header-bottom-right {background-color: #2b303b; color: #bbb!important;}

	.titlebox h6:lang(nm) {box-shadow: 0 2px 4px 0 #1A1B1D; -webkit-box-shadow:0 2px 4px 0 #1A1B1D;}
	.stickied.link:lang(nm) {border-color: #17191A !important}

/* gotta have that important important */
	.comments-page .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment .comment .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment .comment .comment .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment .comment .comment .comment .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment .comment .comment .comment .comment .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment .comment .comment .comment .comment .comment .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment:lang(nm) {background-color: #2b303b !important;}
	.comments-page .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment:lang(nm) {background-color: #2b303b !important;}

/* text */
	.domain a:lang(nm), .entry .buttons li a:lang(nm), .link .tagline:lang(nm), .tabmenu li a:lang(nm), 
	.thing .title:visited:lang(nm), .thing.visited .title:lang(nm), 
	.comments-page .tagline:lang(nm), .comment .expand:lang(nm),
	.titlebox h6 a:lang(nm), .titlebox .bottom:lang(nm),
	.sidecontentbox .content a:lang(nm), body:lang(nm),	.res-nightmode #siteTable .visited.link .title.loggedin, 
	.res-nightmode #siteTable .link .title.loggedin:visited, 
	.res-nightmode #siteTable .link .title:visited, 
	.res-nightmode #siteTable .link .title.loggedin.click, 
	.res-nightmode .organic-listing .link .title:visited, .res-nightmode .tabmenu li a, 
	.res-nightmode .login-form, 
	.res-nightmode .login-form input[name*="passwd"], 
	.res-nightmode .login-form-side .submit, .res-nightmode #header-bottom-right, 
	.res-nightmode .entry .domain a																{color: #6A7A88}

	.tabmenu li.selected a:lang(nm), .link .usertext .md:lang(nm), 
	.comments-page .comment .md:lang(nm), .titlebox:lang(nm), 
	.linkinfo:lang(nm), .menuarea .dropdown.lightdrop .selected:lang(nm), .flair:lang(nm),
	.new-page .titlebox h6 a[href*="/new"]:lang(nm), 
	.top-page .titlebox h6 a[href*="/top"]:lang(nm), 
	.hot-page .titlebox h6 a[href*="/hot"]:lang(nm),
	.res-nightmode > .content > .spacer > .sitetable::before, 
	.res-nightmode > .content > .sharelink ~ .sitetable::before, 
	.res-nightmode .side .age, .res-nightmode .trophy-info *, 
	.res-nightmode .golddvertisement, .res-nightmode .flair-jump .title, 
	.res-nightmode #siteTable .thing .title.loggedin, 
	.res-nightmode #siteTable .thing .title, 
	.res-nightmode .NERdupe p.title::after, .res-nightmode .savedComment, 
	.res-nightmode .organic-listing .thing .title, .res-nightmode .tabmenu li a:hover
																				{color: #EBEBEB;}
	.titlebox h6 a:lang(nm):hover, #header-bottom-right a:lang(nm):hover, textarea:lang(nm), 
	.tabmenu li a:lang(nm):hover, .res-nightmode #header-bottom-left .tabmenu .selected a			{color: #EBEBEB!important;}

	.domain:lang(nm), .res-nightmode .domain														{color: #2b303b;}

/* border colors */
	.link .usertext .md:lang(nm), #search input[type=text]:lang(nm), .linkinfo:lang(nm), .comments-page textarea:lang(nm), 
	.submit-page textarea:lang(nm), .roundfield input[type=url]:lang(nm), 
	.roundfield input[type=text]:lang(nm), .login-form-side input[type=text]:lang(nm), 
	.login-form-side input[type=password]:lang(nm), .linefield textarea:lang(nm), 
	.linefield input[type="text"]:lang(nm), .flairlist .flaircell input[type="text"]:lang(nm), 
	.linkinfo .shortlink input:lang(nm), .search-page #search input[type=text]:lang(nm), .flair:lang(nm),
	.titlebox .bottom:lang(nm), .footer .col:lang(nm) {border-color: #414955 !important;}

/* fucking nightmode  */
	.morelink:lang(nm), .fancy-toggle-button .add:lang(nm), .sidecontentbox a.helplink:lang(nm) {box-shadow: none;-webkit-box-shadow:none;}
	.res-nightmode .tabmenu li {margin: 8px 0px 0px 0px;}

/* spruce it up */
	.res-nightmode #header {background: #2B303B !important;}
	.res-nightmode .share-button .option, .res-nightmode #subscribe a, 
	.res-nightmode .share .option, .res-nightmode .tagline a, .res-nightmode .tagline .head .author, 
	.res-nightmode .footer a, .res-nightmode .wired a, .res-nightmode .side a, .res-nightmode .subredditbox li a, 
	.res-nightmode .link .score.dislikes, .res-nightmode .linkcompressed .score.dislikes, .res-nightmode a[rel="tag"], .res-nightmode .dsq-help, 
	.res-nightmode #authorInfoToolTip h3 a, .res-nightmode .RES-keyNav-activeElement .md, .res-nightmode .help-toggle .option, 
	.res-nightmode .morecomments a, .res-nightmode .reddiquette, .res-nightmode .parent .author, .res-nightmode .parent .subreddit, 
	.res-nightmode .comment .md p a {color: #FF8E8D !important;}
	.res-nightmode .side:after {content: "Hello nightmode user. You're very brave."}

/* Button */
	button:lang(nm), #search input[type='submit']:lang(nm), .wiki-page .wiki-page-content .wiki_button:lang(nm) {
		padding: 0px 8px 0px 8px;
		background-color: transparent;
		border: 1px solid #414955;
		border-radius: 0px;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #e5e5e5 !important;
		line-height: 28px;
	}

	button:lang(nm):hover, #search input[type='submit']:lang(nm):hover, .wiki-page .wiki-page-content .wiki_button:lang(nm):hover {
		padding-bottom: 0px;
		border-color: #414955;
		border-width: 1px;
		color: #fff !important;
		line-height: 28px;
		background-color: #1C1F26;
	}

	button:lang(nm):active, #search input[type='submit']:lang(nm):active, .wiki-page .wiki-page-content .wiki_button:lang(nm):active {
		padding-bottom: 0px;
		background-color: #1C1F26;
		border-color: #414955;
		border-width: 1px;
		-webkit-box-shadow: none;
		box-shadow: none;
		color: #fff !important;
		line-height: 28px;
	}

/*
	#####################       #####################					
	###Brought############      ######################					
	#######to#you##########     #######################					
	############by:#########    ####/u/marssantoso######				
	#########################   #########################				
	########;       ##########  ########;       ##########				
	########;        ########## ########;        ##########				
	########;         ##################;    +    ##########			
	########;    +     #####@marssfw####;    ++++++##########			
	########;    ##     ################;    #################			
	################     ###############;            ##########			
	#########++++++++     ##############'++++++++     ##########		
	########;              #######################     ##########		
	########;     ####      ############;    ######     ##########		
	########;     #####      ###########;    #######     ##########		
	########;     ######################;                 ##########	
	########;     ######################;                  ##########
*/

	
/* --Rewrite the fucking night mode (also in progress)-- */

/* NM Header Area */
	.res-nightmode #header-bottom-right a{color:#afafaf;}
	
/* NM Announcement sticky */
	.res-nightmode .side h3:nth-of-type(1){background-color:#2B303B!important; border-bottom-color:#555!important; color:#ccc!important;}

/* NM Sidebar */
	.res-nightmode .side{
		background-color: #2B303B!important;
	}
	
	.res-nightmode .morelink{
		width: 130px!important;
	}
	
	.res-nightmode .sidebox {
		border: 0px;
		background-color: #2B303B!important;
	}
	
	.res-nightmode .sidebox.submit {
		border-radius: 0px!important;
		width: 130px!important;
	}
	.res-nightmode .sidebox.submit-text {
		margin-top: -45px;
	}
	
	.res-nightmode .linkinfo {
		color: #ccc!important;
	}
	
/* NM Search */
	.res-nightmode #search input[type="text"] {
		background-color: #2B303B!important;
		border-top: 1px solid #555;
		border-bottom: 1px solid #555;
		border-left: 2px solid #2B303B;
	}
	
/* NM Links */
	.res-nightmode .author {color: #d2deff!important;}
	
/* NM Submit Link or Text */
	.res-nightmode .sidebox.submit .morelink {
		z-index: 97;
		width: 130px;
		height: 28px;
		background-color: #FC7373;
		background-image: none!important;
		border: none;
		border-top: 2px solid #FC7373;
		border-bottom: 3px solid #FC7373;
		border-radius: 1px;
		-webkit-box-shadow: 0 1px 2px #bbb;
		box-shadow: 0 1px 2px #bbb;
		margin-left: 15px;
	}

	.res-nightmode .sidebox.submit .morelink:hover {
		background-color: #FF8E8D;
		border-top: 2px solid #FF8E8D;
		border-bottom: 3px solid #AF7070;
	}

	.res-nightmode .sidebox.submit .morelink:active {
		background-color: #AF7070;
		border-top: 2px solid #AF7070;
		border-bottom: 3px solid #AF7070;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.res-nightmode .sidebox.submit .morelink a {
		color: #fff !important;
		text-shadow: 0px 1px 0px #AF7070;
		letter-spacing: 0px;
		font-weight: bold;
		font-size: 15px;
		font-family: arial, sans-serif;
		cursor: default;
		line-height: 30px;
	}

/* NM dual submission button */

	.res-nightmode .sidebox.submit-text {
		display: block !important; 
	}

	.res-nightmode .sidebox.submit {
		width: 145px!important;
		word-spacing: 1px;
		letter-spacing: -1px;
	}

	.res-nightmode .sidebox.submit-link {
		position: relative;
		display: block;
		text-indent: 0px;
	}

	.res-nightmode .sidebox.submit-text {
		position: relative;
		float: right;
		margin-right: 13px;
	}

	.res-nightmode .sidebox.submit-link .morelink .nub:before {
		position: relative;
		padding: 5px;
		height: auto;
		border: 1px solid #fbfbf9;
		border-radius: 50%;
		background-color: #fbfbf9 !important;
		color: #242527;
		font-weight: bold;
		font-size: 10px;
		text-shadow: 1px 1px 1px #fff,1px 1px 2px #808088;
		z-index: 1;
	}
	
	.res-nightmode #header-bottom-left .tabmenu .selected a{
		color: #DDD;
		background-color: #2B303B;
		border-bottom: 2px solid #DDD;
	}

/* Top Most header */
	.res-nightmode #sr-header-area {
		opacity: 0.6;
		height: 18px;
		background-color: #333;
		border-bottom: 1px solid #333;
		z-index: 999;
	}
	
	.res-nightmode #sr-header-area:hover {
		opacity: 90;
	}

	.res-nightmode #sr-header-area a {
		color: #C4C4C4;
		font-family: Verdana, Arial, sans-serif;
	}

	.res-nightmode #sr-header-area a:hover {
		color: #ff7c7c; 
		text-decoration: none;
	}

	.res-nightmode #sr-more-link {
		position: absolute;
		background-color: #333;
		color: #C4C4C4;
	}

	.res-nightmode .dropdown.srdrop .selected {background-image: none;}
	.res-nightmode .dropdown.srdrop .selected:after {content: " ▼";}
	.res-nightmode .sr-bar .separator {color: #333;}

	.res-nightmode #sr-header-area .width-clip .dropdown.srdrop .selected.title {
		color: #C4C4C4;
		font-size: 9px;
		font-weight: normal;
		font-family: Verdana, Arial, sans-serif;
		padding-right: 3px;
	}

	.res-nightmode #sr-header-area .width-clip .dropdown.srdrop .selected.title:hover {
		color: #FC7373;
	}

	.res-nightmode #sr-header-area .drop-choices a.choice {
		color: #333 !important;
	}

	.res-nightmode #sr-header-area .drop-choices a.choice:hover {
		background-color: #FC7373;
		color: #fff !important;
	}